<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <label for="name">Artist Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Artist</button>
</form>
