
#**
<form action='/whereToSubmitInfo'>
  <div class="form-group">
    <label for="variable1">Your name</label>
    <input id="variable1" name="variable1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="variable2">Your friend's name</label>
    <input id="variable2" name="variable2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
*#
