<p>Add a new record</p>

<form action="/records" method="post">
  <label for="name">Record Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add Record</button>
</form>
